.todo-page {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.side-bar {
    width: 20%;
    height: 100vh;
    background-color: #e9eef6;
    box-sizing: border-box;
}

.todo-logo {
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #334155;
    line-height: 80px;
    border-bottom: 1px solid #cbd5e1;
    background-color: #e3eaf5;
}

.todo-list {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.content-and-nav{
    flex: 1;
    background-color: #f6f7f8;
}

.input-date {
    font-size: 20px;
    margin-left: 12px;
}

.input-date:focus {
    outline: none;
}

.input-indate{
    color: #0284c7;
    margin-left: 8px;
    border: 1px solid #0284c7;
}

.input-duedate {
    color: #db2777;
    border: 1px solid #db2777;
}

.content {
    margin: 32px;
    display: block;
}

.content-form {
    box-sizing: border-box;
}
label.content-lable {
    width: 100%;
    display: block;
    margin-bottom: 12px;
    margin-top: 4px;
    color: #64748b;
    font-size: 16px;
}

#content-title {
    display: flex;
    width: 100%;
    border-radius: 4px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 28px;
    margin-top: 12px;
    background-color: #fff;
    color: #475569;
    line-height: 40px;
    border: none;
    padding: 0 12px;
    border-left: 1.5px solid #10b981;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.15s ease-in;
}


#content-detail {
    display: flex;
    width: 100%;
    border-radius: 4px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 28px;
    margin-top: 12px;
    background-color: #fff;
    color: #475569;
    line-height: 40px;
    border: none;
    padding: 0 12px;
    border-left: 1.5px solid #10b981;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.15s ease-in;        
}

#content-title:focus, #content-detail:focus {
    outline: none;
    border-left: 3px solid #10b981;
}

.confirm-add {
    padding: 8px 12px;
    background-color: #10b981;
    color: #fff;
    border: none;
    border-radius: 6px;
    width: 96px;
    font-size: 16px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);

}

.confirm-add:hover {
    opacity: 0.8;
}

.list-job {
    padding-left: 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.job-item {
    display: flex;
    width: 90%;
    background-color: rgba(255,255,255, 0.6);
    padding: 12px 8px;
    margin-top: 12px;
    box-sizing: border-box;
    border-radius: 6px;
}

.job-item:hover {
    background-color: rgba(255,255,255, 1   );
}

.update, .delete {
    padding-left: 4px;
    display: flex;
    align-items: center;
}

.update {
    color: #0891b2;
}

.delete {
    color: #db2777;
}
.update:hover, .delete:hover {
    opacity: 0.6;
}

.job-item-title {
    width: 80%;
}

.date {
    display: flex;
}

.in-date-label, .due-date-label {
    display: flex;
    width: 50%;
    border-radius: 4px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
    margin: 28px 0;
    background-color: #fff;
    color: #475569;
    line-height: 40px;
    overflow: hidden;
}

.in-date-label {
    margin-right: 16px;
}

.due-date-label {
    margin-left: 16px;
}

.in-date-label >span, .due-date-label > span {
    width: 120px;
    color: #fff;
    padding-left: 12px;
    box-shadow: 3px 0 5px rgba(0,0,0,0.15);
}

.in-date-label >span {
    background-color: #3b82f6;
}

.due-date-label > span {
    background-color: #db2777;
}

.input-date {
    border: none;
    background-color: #fff;
    padding: 8px;
    flex: 1;
}

